.news {
z-index: unset;

&__title {
@include title(53px, 700, 40px,var(--color-black) ,1.1);

width: 100%;
max-width: 965px;
}

&-page__swiper{
position: relative;
margin-bottom: 53px;
}

&__text {
font-weight: 300;
font-size: 24px;

strong {
font-weight: 700;
font-size: 29px;
line-height: 1.2;
}

p {
&:not(:last-child) {
margin-bottom: 44px;
}
}
}
}

.swiper-button-next,
.swiper-button-prev {
@include flex-alignment(0);
@include circle(60px, var(--color-green-400));


right: 30px;
top: 580px;
bottom: 0;
z-index: 100;
color: var(--color-white);
opacity: 1;
transition: color 0.3s, background-color 0.3s;

@media (any-hover: hover) {
&:hover {
background-color: var(--color-green-800);
}
}
}

.swiper-button-prev {
  left: auto;
  right: 90px;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "";
width: 21px;
height: 18px;
background-image: url("../img/icons/arrow_next.svg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;



}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-prev:after {
content: "";
width: 21px;
height: 18px;
background-image: url("../img/icons/arrow_next.svg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
transform: rotate(180deg);
}
