.news-page {
  text-align: center;

	&__wrapper {
		display: flex;
		flex-direction: column-reverse;
	}

	&__date {
		margin-bottom: 50px;
		font-weight: 700;
	}

	&__title {
		@include title(53px, 700, 40px, var(--color-black), 1.1);

    margin: 0 auto 53px;
		width: 100%;
		max-width: 965px;
	}

  &__button {
    position: relative;
    margin-bottom: 52px;
    padding-left: 50px;
    max-width: max-content;

    &::before{
      content: '';
      position: absolute;
      left: 17px;
      top: 21px;
      width: 21px;
			height: 18px;
			background-image: url('../img/icons/arrow-long.svg');
      rotate: 180deg;
    }
  }

	&__swiper {
		position: relative;
		margin-bottom: 53px;
		padding-bottom: 53%;
	}

	&__sliders {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&__img {
		border-radius: 30px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__text {
		font-weight: 300;
		font-size: 24px;

		h2 {
			margin: 44px 0 16px;
			font-weight: 700;
			font-size: 29px;
			line-height: 1.2;
		}

    p {
				margin-bottom: 12px;
    }
	}

	.swiper-controls {
		right: 90px;
		bottom: 26px;

		&__button {
			&::after {
				width: 21px;
				height: 18px;
				background-image: url('../img/icons/arrow-long.svg');
			}
		}
	}
}
