.archive-page {
	background-image: var(--gradient-primary);

	&__title {
		@include title(53px, 700, 40px, var(--color-black), 1.1);
	}

	&__wrapper {
		margin: auto 0;
		border-radius: 30px;
		width: 100%;
		max-width: 1208px;
		background-color: var(--color-white);
	}

	&__text {
		padding: 268px 418px;
		font-weight: 300;
		font-size: 24px;
		text-align: center;
	}
}
