<div class="burger-menu" id="burger-menu" data-menu>
    <div class="container">
        <ul class="burger-menu__items">
            <li class="burger-menu__item">
                <span class="burger-menu__title">
                    Главная
                </span>
                <ul class="burger-menu__list">
                    <li>
                        <a class="burger-menu__link" href="#hero" data-menu-link>
                            о событии
                        </a>
                    </li>
                    <li>
                        <a class="burger-menu__link" href="#advantages" data-menu-link>
                            описание
                        </a>
                    </li>
                    <li>
                        <a class="burger-menu__link" href="#" data-menu-link>
                            статистика
                        </a>
                    </li>
                    <li>
                        <a class="burger-menu__link" href="#" data-menu-link>
                            архив
                        </a>
                    </li>
                    <li>
                        <a class="burger-menu__link" href="#news" data-menu-link>
                            новости
                        </a>
                    </li>
                </ul>
            </li>
            <li class="burger-menu__item">
                <span class="burger-menu__title">Участникам</span>
                <ul class="burger-menu__list">
                    <li>
                        <a class="burger-menu__link" href="#form-part" data-menu-link>
                            форма участия
                        </a>
                    </li>
                    <li>
                        <a class="burger-menu__link" href="#registration-block" data-menu-link>
                            регистрация
                        </a>
                    </li>
                    <li>
                        <a class="burger-menu__link" href="#programm" data-menu-link>
                            программа
                        </a>
                    </li>
                    <li>
                        <a class="burger-menu__link" href="#stream" data-menu-link>
                            трансляция
                        </a>
                    </li>
                    <li>
                        <a class="burger-menu__link" href="#sections" data-menu-link>
                            секции
                        </a>
                    </li>
                    <li>
                        <a class="burger-menu__link" href="#feedbacks" data-menu-link>
                            отзывы участников
                        </a>
                    </li>
                </ul>
            </li>
            <li class="burger-menu__item">
                <span class="burger-menu__title">Материалы</span>
                <ul class="burger-menu__list">
                    <li>
                        <a class="burger-menu__link" href="#materials-requirement" data-menu-link>
                            требования
                        </a>
                    </li>
                    <li>
                        <a class="burger-menu__link" href="#" data-menu-link>
                            макеты
                        </a>
                    </li>
                    <li>
                        <a class="burger-menu__link" href="#" data-menu-link>
                            сборник
                        </a>
                    </li>
                    <li>
                        <a class="burger-menu__link" href="#materials-state" data-menu-link>
                            положение
                        </a>
                    </li>
                    <li>
                        <a class="burger-menu__link" href="#materials-agreement" data-menu-link>
                            согласие на публикацию
                        </a>
                    </li>
                </ul>
            </li>
            <li class="burger-menu__item">
                <span class="burger-menu__title">Команда</span>
                <ul class="burger-menu__list">
                    <li>
                        <a class="burger-menu__link" href="#team-guests" data-menu-link>
                            оргкомитет
                        </a>
                    </li>
                    <li>
                        <a class="burger-menu__link" href="#team-orgkom" data-menu-link>
                            приглашенные гости
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>