<div class="menu" id="burger-menu" data-menu>
    <div class="container">
        <ul class="menu__items">
            <li class="menu__item">
                <span class="menu__title">
                    Главная
                </span>
                <ul class="menu__list">
                    <li>
                        <a class="menu__link" href="#hero" data-scroll-home-page data-menu-link>
                            о событии
                        </a>
                    </li>
                    <li>
                        <a class="menu__link" href="#advantages" data-scroll-home-page data-menu-link>
                            описание
                        </a>
                    </li>
                    <li>
                        <a class="menu__link" href="./statistics.html" data-menu-link>
                            статистика
                        </a>
                    </li>
                    <li>
                        <a class="menu__link" href="./archive.html" data-menu-link>
                            архив
                        </a>
                    </li>
                    <li>
                        <a class="menu__link" href="#news-block" data-scroll-home-page data-menu-link>
                            новости
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu__item">
                <span class="menu__title">
                    Участникам
                </span>
                <ul class="menu__list">
                    <li>
                        <a class="menu__link" href="#form-part" data-scroll-home-page data-menu-link>
                            форма участия
                        </a>
                    </li>
                    <li>
                        <a class="menu__link" href="#registration-block" data-scroll-home-page data-menu-link>
                            регистрация
                        </a>
                    </li>
                    <li>
                        <a class="menu__link" href="#programm" data-scroll-home-page data-menu-link>
                            программа
                        </a>
                    </li>
                    <li>
                        <a class="menu__link" href="#stream" data-scroll-home-page data-menu-link>
                            трансляция
                        </a>
                    </li>
                    <li>
                        <a class="menu__link" href="#sections" data-scroll-home-page data-menu-link>
                            секции
                        </a>
                    </li>
                    <li>
                        <a class="menu__link" href="#feedbacks" data-scroll-home-page data-menu-link>
                            отзывы участников
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu__item">
                <span class="menu__title">
                    Материалы
                </span>
                <ul class="menu__list">
                    <li>
                        <a class="menu__link" href="#materials-requirement" data-scroll-home-page data-menu-link>
                            требования
                        </a>
                    </li>
                    <li>
                        <a class="menu__link" href="./layouts.html" data-menu-link target="_blank">
                            макеты
                        </a>
                    </li>
                    <li>
                        <a class="menu__link" href="./collection.html" data-menu-link>
                            сборник
                        </a>
                    </li>
                    <li>
                        <a class="menu__link" href="#materials-state" data-scroll-home-page data-menu-link>
                            положение
                        </a>
                    </li>
                    <li>
                        <a class="menu__link" href="#materials-agreement" data-scroll-home-page data-menu-link>
                            согласие на публикацию
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu__item">
                <span class="menu__title">
                    Команда
                </span>
                <ul class="menu__list">
                    <li>
                        <a class="menu__link" href="#team-orgkom" data-scroll-home-page data-menu-link>
                            оргкомитет
                        </a>
                    </li>
                    <li>
                        <a class="menu__link" href="#team-guests" data-scroll-home-page data-menu-link>
                            приглашенные гости
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
