// UI

// BLOCKS
@import '../components/blocks/header/header';
@import '../components/blocks/header/burger-button';
@import '../components/blocks/header/burger-menu';
@import '../components/blocks/tabs';
@import '../components/blocks/footer';

// CARDS
@import '../components/cards/date-card';
@import '../components/cards/feedback-card';
@import '../components/cards/guest-card';
@import '../components/cards/info-card';
@import '../components/cards/news-card';
@import '../components/cards/organizing-committee-card';
@import '../components/cards/step-card';
@import '../components/cards/schedule-card';
