// UI
@import '../components/ui/_swiper-elements';

// BLOCKS
@import '../components/blocks/header/header';
@import '../components/blocks/header/burger-button';
@import '../components/blocks/header/burger-menu';
@import '../components/blocks/tabs';
@import '../components/blocks/form';
@import '../components/blocks/later';
@import '../components/blocks/footer';

// CARDS
@import '../components/cards/date-card';
@import '../components/cards/feedback-card';
@import '../components/cards/team-card';
@import '../components/cards/info-card';
@import '../components/cards/news-card';
@import '../components/cards/organizing-committee-card';
@import '../components/cards/stage-card';
@import '../components/cards/schedule-card';
@import '../components/cards/spoller-card';
@import '../components/cards/download-link-card';
