// home page
@import '../pages/home-page/hero';
@import '../pages/home-page/advantages';
@import '../pages/home-page/news';
@import '../pages/home-page/members/members';
@import '../pages/home-page/members/dates';
@import '../pages/home-page/members/form-part';
@import '../pages/home-page/members/stages';
@import '../pages/home-page/registration';
@import '../pages/home-page/programm';
@import '../pages/home-page/stream';
@import '../pages/home-page/sections';
@import '../pages/home-page/feedbacks';
@import '../pages/home-page/materials';
@import '../pages/home-page/team';
@import '../pages/home-page/contacts';

// news-one page
@import '../pages/one-news-page/news';
