<article class="team-card">
    @if(typeof img !== 'undefined' && img) {
    <picture class="team-card__picture">
        <source srcset="img/team/@img.avif" type="image/avif">
        <source srcset="img/team/@img.webp" type="image/webp">
        <img class="team-card__img " src="img/team/@img.png" alt="@alt" loading="lazy">
    </picture>
    }
    <div class="team-card__wrapper">
        <span class="team-card__name">@name</span>
        <div class="team-card__text">
            <p>@position</p>
            <p>@description</p>
        </div>
    </div>
</article>
