@mixin font-face($font-family, $url, $weight) {
	@font-face {
		font-family: '#{$font-family}';
		src:
			url('../fonts/#{$url}.woff2') format('woff2'),
			url('../fonts/#{$url}.woff') format('woff');
		font-weight: #{$weight};
		font-display: swap;
		font-style: normal;
	}
}

// Geist
@include font-face(Geist, Geist-Light, 300);
@include font-face(Geist, Geist-Regular, 400);
@include font-face(Geist, Geist-Bold, 700);

// Unbounded
@include font-face(Unbounded, Unbounded-SemiBold, 600);
@include font-face(Unbounded, Unbounded-Bold, 700);
