.spollers {
	&__item {
		border-radius: 30px;
		padding: 56px;
		background-color: var(--color-grey-100);
	}

	&__button {
		@include title(15px);

		cursor: pointer;

		&--active {
			.spollers__control {
				&::before {
					transform: rotate(180deg);
				}
			}
		}
	}

	&__control {
		position: relative;
		outline: 0;
		width: 100%;
		text-align: left;

		&:focus-visible {
			&::before {
				@include focus-visible(var(--color-green-800));
			}
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					background-color: var(--color-green-800);
				}
			}
		}

		&::before {
			@include bg-properties;

			content: '';
			position: absolute;
			right: 0;
			top: 0;
			border-radius: 50%;
			width: 60px;
			height: 60px;
			color: var(--color-white);
			background-image: url('../img/icons/arrow.svg');
			background-size: 24px;
			background-color: var(--color-green-400);
			transition:
				background-color 0.3s,
				box-shadow 0.3s,
				transform 0.3s;
		}
	}

	&__body {
		width: 100%;
		max-width: 890px;
		font-weight: 300;

		p {
			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
	}
}
