.footer {
	@include bg-properties(cover);

	margin-top: -60px;
	padding: 260px 0 65px;
	background-image: url('../img/bg/section-bg.jpg');

	&__bottom {
		@include flex-alignment(110px, start, center);

		padding: 0 2px;
		color: var(--color-white);
	}

	&__item {
		width: 100%;
		max-width: 200px;
	}

	a {
		border-radius: 4px;
		transition:
			color 0.3s,
			box-shadow 0.3s;

		&:focus-visible {
			@include focus-visible(var(--color-white));
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--color-green-200);
			}
		}
	}
}
