.form {
	@include flex-simple(36px, column);

	&__item {
		position: relative;
		width: 100%;
	}

	&__label {
		position: absolute;
		left: 0;
		bottom: 100%;
		color: var(--color-grey-200);
		transform: translateY(100%);
		transition: bottom 0.3s;
	}

	&__field {
		outline: 0;
		border-bottom: 1px solid var(--color-grey-200);
		padding-bottom: 10px;
		width: 100%;
		transition:
			border-bottom-color 0.3s,
			color 0.3s;

		&--error {
			border-bottom-color: var(--color-red-100);
			color: var(--color-red-100);
		}

		&::placeholder {
			color: transparent;
		}

		&:focus {
			border-bottom-color: var(--color-green-200);
		}

		&:focus + .form__label,
		&:valid + .form__label,
		&:not(:placeholder-shown) + .form__label {
			bottom: -3px;
			font-size: 14px;
		}
	}

	.just-validate-error-label {
		display: none;
	}
}
