.news-card {
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	width: 100%;
	height: 100%;

	&__image {
		position: relative;
		border-radius: 30px 30px 0 0;
		padding-bottom: 57%;
	}

	&__img {
		position: absolute;
		inset: 0;
		border-radius: 30px 30px 0 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__text {
		border-radius: 0 0 30px 30px;
		padding: 24px 36px 50px;
		height: 100%;
		font-weight: 300;
		background-color: var(--color-white);
		transition:
			color 0.3s,
			background-color 0.3s,
			box-shadow 0.3s;

      &--date {
        display: block;
        margin-bottom: 10px;
        font-weight: 700;
      }

		&:focus-visible {
			outline: 0;
			box-shadow: inset 0 0 0 2px var(--color-green-400);
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--color-white);
				background-color: var(--color-green-800);
			}
		}
	}
}
