.schedule-card {
	display: grid;
	grid-template-columns: 14.5% 27% 27% 27%;
	gap: 16px;

	&__title {
		font-weight: 700;
	}

	&__image {
		display: flex;
		justify-content: flex-end;
	}

	&__img {
		border-radius: 50%;
		width: 80px;
		height: 80px;
	}

  &--programm {
    display: grid;
	grid-template-columns: 14.5% 50%;
	gap: 16px;
  }
}
