.spollers-document {
  @include flex-alignment(22px, start,center);

  &__icon{
    @include bg-properties;
		@include circle(60px,var(--color-green-200));

		background-size: 30px;
  }

  &__text{
    flex-basis: 21%;
    font-weight: 500;
  }
}
