<div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal-form-error">
    <div class="graph-modal__box">
        <span class="graph-modal__title title">
            Упс! Что-то пошло не так
        </span>
        <button class="graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__text">
            <p>
                К сожалению, ваша форма не была отправлена из-за технических неполадок. Мы ценим ваше время и приносим извинения за это неудобство.
            </p>
            <p>
                Попробуйте снова отправить форму через несколько минут. Если проблема сохраняется, пожалуйста, свяжитесь с нашей службой поддержки по адресу
                <a class="graph-modal__link" href="#">info@conference.ru</a>
            </p>
            <p>
                Спасибо за ваше терпение!
            </p>
        </div>
    </div>
</div>