<div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal-thank">
    <div class="graph-modal__box">
        <span class="graph-modal__title title">
            Спасибо! Мы приняли вашу заявку и ответим вам в ближайшее время.
        </span>
        <button class="graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__text">
            <p>
                Если у вас остались вопросы можете написать нам на электронную почту: 
                <a class="graph-modal__link" href="#">info@conference.ru</a>
            </p>
        </div>
    </div>
</div>