<footer class="footer">
  <div class="container">
    <div class="footer__bottom">
      <div class="footer__contacts">
        <a class="footer__item" href="#" target="_blank">
          Политика конфиденциальности
        </a>
        <div class="footer__item">
          Обратная связь
          <a href="mailto:conference@mpcenter.ru">
            conference@mpcenter.ru
          </a>
        </div>
      </div>
      <div class="menu footer__menu">
        <ul class="menu__items">
          <li class="menu__item">
            <span class="menu__title">
              Главная
            </span>
            <ul class="menu__list  menu__list--footer">
              <li>
                <a class="menu__link" href="#hero" data-scroll-home-page>
                  О событии
                </a>
              </li>
              <li>
                <a class="menu__link" href="#advantages" data-scroll-home-page>
                  Описание
                </a>
              </li>
              <li>
                <a class="menu__link" href="./statistics.html">
                  Статистика
                </a>
              </li>
              <li>
                <a class="menu__link" href="./archive.html">
                  Архив
                </a>
              </li>
              <li>
                <a class="menu__link" href="#news-block" data-scroll-home-page>
                  Новости
                </a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <span class="menu__title">
              Участникам
            </span>
            <ul class="menu__list">
              <li>
                <a class="menu__link" href="#form-part" data-scroll-home-page>
                  Форма участия
                </a>
              </li>
              <li>
                <a class="menu__link" href="#registration-block" data-scroll-home-page>
                  Регистрация
                </a>
              </li>
              <li>
                <a class="menu__link" href="#programm" data-scroll-home-page>
                  Программа
                </a>
              </li>
              <li>
                <a class="menu__link" href="#stream" data-scroll-home-page>
                  Трансляция
                </a>
              </li>
              <li>
                <a class="menu__link" href="#sections" data-scroll-home-page>
                  Секции
                </a>
              </li>
              <li>
                <a class="menu__link" href="#feedbacks" data-scroll-home-page>
                  Отзывы участников
                </a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <span class="menu__title">
              Материалы
            </span>
            <ul class="menu__list">
              <li>
                <a class="menu__link" href="#materials-requirement" data-scroll-home-page>
                  Требования
                </a>
              </li>
              <li>
                <a class="menu__link" href="./layouts.html" target="_blank">
                  Макеты
                </a>
              </li>
              <li>
                <a class="menu__link" href="./collection.html">
                  Сборник
                </a>
              </li>
              <li>
                <a class="menu__link" href="#materials-state" data-scroll-home-page>
                  Положение
                </a>
              </li>
              <li>
                <a class="menu__link" href="#materials-agreement" data-scroll-home-page>
                  Согласие на публикацию
                </a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <span class="menu__title">
              Команда
            </span>
            <ul class="menu__list">
              <li>
                <a class="menu__link" href="#team-orgkom" data-scroll-home-page>
                  Оргкомитет
                </a>
              </li>
              <li>
                <a class="menu__link" href="#team-guests" data-scroll-home-page>
                  Приглашенные гости
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
