<header class="header">
<div class="container header__container">
  <nav class="header__nav">
            <a class="header__logo logo " href="#" target="_blank">
              <picture>
              <source srcset="img/logos/conference-logo.avif" type="image/avif">
              <source srcset="img/logos/conference-logo.webp" type="image/webp">
              <img class="header__logo" src="img/logos/conference-logo.png" alt="Первая Научно-Практическая Конференция По Экологии" width="332" height="55" loading="lazy">
              </picture>
            </a>


            <ul class="header__partners">
              <li class="header__partner">
                <a href="#">
                  <img class="header__logo" src="img/logos/mp-logo.svg" alt="Министерство Просвещения Российской Федерации" >
                </a>
              </li>
              <li class="header__partner">
                <a href="#">
                  <img class="header__logo" src="img/logos/cpi-logo.svg" alt="Центр Просветительских Инициатив">
                </a>
              </li>
              <li class="header__partner">
                <a href="#">
                  <img class="header__logo" src="img/logos/eco-logo.svg" alt="Российский Экологический Оператор">
                </a>
              </li>
              <li class="header__partner">
                <a href="#">
                  <img class="header__logo" src="img/logos/mnvo-logo.svg" alt="Министерство науки и высшего образования Российской Федерации">
                </a>
              </li>
            </ul>
              <div class="header__account">
              <a class="header__btn button" href="#">Войти</a>
              <a class="header__btn button" href="#">Зарегистрироваться</a>
              </div>
              <button class="burger-button" aria-label="Открыть меню" aria-expanded="false" aria-controls="burger-menu" data-burger-button>
              <span class="burger-button__line" aria-hidden></span>
            </button>
            <ul class="header__list burger-menu" id="burger-menu" data-menu>
                <li class="header__name">
                    <span class="header__title">Главная</span>
                    <ul class="header__subtitle">
                    <li>
                       <a class="header__link" href="#" data-menu-link>
                       о событии
                       </a>
                    </li>
                    <li >
                        <a class="header__link" href="#" data-menu-link>
                        описание
                        </a>
                    </li>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        статистика
                      </a>
                    </li>
                    <li >
                      <a class="header__link" href="#" data-menu-link>
                        архив
                      </a>
                    </li>
                    <li >
                      <a class="header__link" href="#" data-menu-link>
                        новости
                      </a>
                    </li>
                    </ul>
                </li>
                <li class="header__name">
                    <span class="header__title">Участникам</span>
                    <ul class="header__subtitle">
                     <li>
                       <a class="header__link" href="#" data-menu-link>
                        форма участия
                       </a>
                    </li>
                    <li>
                        <a class="header__link" href="#" data-menu-link>
                        регистрация
                        </a>
                    </li>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        программа
                      </a>
                    </li>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        трансляция
                      </a>
                    </li>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        секции
                      </a>
                    </li>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        отзывы <br>
                        участников
                      </a>
                    </li>
                    </ul>
                </li>
                <li class="header__name">
                    <span class="header__title">Материалы</span>
                    <ul class="header__subtitle">
                    <li>
                       <a class="header__link" href="#" data-menu-link>
                        требования
                       </a>
                    </li>
                    <li>
                        <a class="header__link" href="#" data-menu-link>
                        макеты
                        </a>
                    </li>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        сборник
                      </a>
                    </li>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        поолжение
                      </a>
                    </li>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        согласие на <br>
                        публикацию
                      </a>
                    </li>
                    </ul>
                </li>
                <li class="header__name">
                    <span class="header__title">Команда</span>
                     <ul class="header__subtitle">
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        оргкомитет
                      </a>
                    </li>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        приглашенные <br>
                        гости
                      </a>
                    </li>
                    </ul>
                </li>
            </ul>
        </nav>
</div>
</header>
