<header class="header">
<div class="container container__header">
  <nav class="header__nav">
            <a class="header__logo logo " href="#" target="_blank">
              <img class="header__logo" src="img/logos/conference-logo.png" alt="">
            </a>


            <ul class="header__partners">
              <li class="header__partner">
                <a href="#" class="header__link">
                  <img class="header__logo" src="img/logos/mp-logo.svg" alt="">
                </a>
              </li>
              <li class="header__partner">
                <a href="#">
                  <img class="header__logo" src="img/logos/cpi-logo.svg" alt="">
                </a>
              </li>
              <li class="header__partner">
                <a href="#">
                  <img class="header__logo" src="img/logos/eco-logo.svg" alt="">
                </a>
              </li>
              <li class="header__partner">
                <a href="#">
                  <img class="header__logo" src="img/logos/mnvo-logo.svg" alt="">
                </a>
              </li>
            </ul>
              <div class="header__btn-list">
              <button class="header__btn">Войти</button>
              <button class="header__btn">Зарегистрироваться</button>
              </div>
            <ul class="header__list burger-menu" id="burger-menu" data-menu>
                <li class="header__items">
                    <ul class="header__items">
                    <p class="header__text">Главная</p>
                    <li>
                       <a class="header__link" href="#" data-menu-link>
                       о событии
                       </a>
                    </li>
                    <li >
                        <a class="header__link" href="#" data-menu-link>
                        описание
                        </a>
                    </li>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        статистика
                      </a>
                    </li>
                    <li >
                      <a class="header__link" href="#" data-menu-link>
                        архив
                      </a>
                    </li>
                    <li >
                      <a class="header__link" href="#" data-menu-link>
                        новости
                      </a>
                    </li>
                    </ul>
                </li>
                <li class="header_items">
                    <ul class="header__item">
                    <p class="header__text">Участникам</p>
                     <li>
                       <a class="header__link" href="#" data-menu-link>
                        форма участия
                       </a>
                    </li>
                    <li>
                        <a class="header__link" href="#" data-menu-link>
                        регистрация
                        </a>
                    </li>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        программа
                      </a>
                    </li>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        трансляция
                      </a>
                    </li>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        секции
                      </a>
                    </li>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        отзывы <br>
                        участников
                      </a>
                    </li>
                    </ul>
                </li>
                <li class="header_items">
                    <ul class="header__item">
                    <p class="header__text">Материалы</p>
                    <li>
                       <a class="header__link" href="#" data-menu-link>
                        требования
                       </a>
                    </li>
                    <li>
                        <a class="header__link" href="#" data-menu-link>
                        макеты
                        </a>
                    </li>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        сборник
                      </a>
                    </li>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        поолжение
                      </a>
                    </li>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        согласие на <br>
                        публикацию
                      </a>
                    </li>
                    </ul>
                </li>
                <li class="header_items">
                    <ul class="header__item">
                    <p class="header__text">Команда</p>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        оргкомитет
                      </a>
                    </li>
                    <li>
                      <a class="header__link" href="#" data-menu-link>
                        приглашенные <br>
                        гости
                      </a>
                    </li>
                    </ul>
                </li>
            </ul>
            <button class="burger-button" aria-label="Открыть меню" aria-expanded="false" aria-controls="burger-menu" data-burger-button>
                <span class="burger-button__line" aria-hidden></span>
            </button>
        </nav>
</div>
</header>
