<section class="news-page inner-page">
    <div class="container">
        <div class="news-page__wrapper">
            <h1 class="news-page__title">
                @title
            </h1>
            <time class="news-page__date" datetime="16.10.2024">
                @date
            </time>
            <a href="#news-block" class="news-page__button button button--light" data-scroll-home-page>Назад</a>
        </div>
        <div class="news-page__swiper swiper">
            <ul class="news-page__sliders swiper-wrapper">
                @for (var i = 0; i < img.length; i++) { <li class="news-page__slider swiper-slide">
                    <picture>
                        <source srcset="img/news-page/news1/`+img[i]+`.avif" type="image/avif">
                        <source srcset="img/news-page/news1/`+img[i]+`.webp" type="image/webp">
                        <img class="news-page__img" src="img/news-page/news1/`+img[i]+`.jpg" alt="`+alt[i]+`" width="1208" height="644" loading="lazy">
                    </picture>
                    </li>}
            </ul>
            @if (img.length > 1) { <div class="swiper-controls">
                <div class="swiper-controls__button swiper-controls__button--prev"></div>
                <div class="swiper-controls__button swiper-controls__button--next"></div>
            </div>
            }
        </div>
        <div class="news-page__text">
            @for (var i = 0; i < text.length; i++) { <p> `+text[i]+` </p> }
        </div>
    </div>
</section>