.reviews-page {
	&__title {
		@include title(53px, 700, 40px, var(--color-black), 1.1);
	}

	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 30px;
	}

	&__button {
		max-width: max-content;
	}
}
