.burger-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  padding: 40px 24px;
  width: 100%;
  background-color: var(--color-green-800);
  visibility: hidden;
  transform: translateY(-110%);
  transition: transform 0.5s;
	gap: 135px;

	&--active {
    right: 0;
    z-index: 50;
    overflow-y: auto;
    border-radius: 0 0 40px 40px;
    padding: 40px 120px 90px;
    width: 100%;
    background-color: var(--color-green-800);
    opacity: 1;
    visibility: visible;
    transform: translateY(88px);
    transition: transform 0.5s ease-in-out;


	}
}
