.burger-button {
	--burger-width: 20px;
	--burger-height: 20px;
	--burger-line-height: 2px;
	--burger-border-radius: 10px;
	--burger-color: var(--color-white);

	position: relative;
  z-index: 100;
  border-radius: 100%;
  padding: 30px;
	width: var(--burger-width);
	height: var(--burger-height);
	color: var(--burger-color);
  background-color: var(--color-green-400);


	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 20px;
    border-radius: 10px;
		width: 20px;
		height: var(--burger-line-height);
		background-color: currentcolor;
		transition:
			transform 0.3s ease-in-out,
			top 0.3s ease-in-out;
	}

	&::before {
		top: 20px;
	}

	&::after {
		bottom: 20px;
	}

	&__line {
		position: absolute;
		left: 20px;
		top: 50%;
		width: 20px;
		height: var(--burger-line-height);
		background-color: currentcolor;
		transform: translateY(-50%);
		transition: transform 0.3s ease-in-out;
	}

	&--active {
		&::before,
		&::after {
			top: 50%;
			transition:
				transform 0.3s ease-in-out,
				top 0.3s ease-in-out;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		.burger-button__line {
      border-radius: 10px;
			transform: scale(0);
			transition: transform 0.3s ease-in-out;
		}
	}
}
