.header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 20;

	&::before {
		@include bg-properties;

		content: '';
		position: absolute;
		inset: 0;
		z-index: -1;
		background-image: url('../img/bg/section-bg.jpg');
		background-position: top center;
		opacity: 0;
		transition: opacity 0.3s;
	}

	&--fixed {
		position: fixed;

		&::before {
			opacity: 1;
		}

		.header__nav {
			position: relative;
		}
	}

	&--burger {
		position: fixed;

		.header__nav {
			background-color: var(--color-green-800);
		}
	}

	&__nav {
		padding: 42px 0;
		transition: background-color 0.3s;
	}

	&__container {
		@include flex-alignment(60px, space-between, center);

		max-width: 1360px;
	}

	&__partners {
		@include flex-alignment(50px, flex-start, center);

		&--hidden {
			display: none;
		}
	}

	&__link {
		display: inline-block;
		border-radius: 4px;
		transition: box-shadow 0.3s;

		&:focus-visible {
			@include focus-visible;
		}
	}

	&__logo {
		object-fit: contain;
	}

	&__account {
		display: none;

		&--active {
			@include flex-simple(15px);

			margin-left: auto;
		}
	}

	&__registration {
		background-color: var(--color-green-400);

		&:focus-visible {
			box-shadow: 0 0 0 2px var(--color-green-400);
			color: var(--color-white);
			background-color: transparent;
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--color-green-400);
				background-color: var(--color-white);
			}
		}
	}
}
