.contacts {
  &__title {
    @include title (0,700,60px,var(--color-green-800), 97%);
  }


  &__items {
    @include flex-alignment(78px,flex-start,top,column);

    padding: 83px 0 65px;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.3;
  }

  &__item {
    @include flex-simple(105px,row);
  }

  &__text {
    max-width: 350px;
  }

  &__map{
  width: 100%;
  height: 694px;
  max-width: 1206px;
  }

}



[class*="copyrights-pane"] {
  display: none !important;
}

