.stream {
	@include bg-properties(cover);

	padding: 200px 0 80px;
	background-image: url('../img/bg/section-bg.jpg');

	&__title {
		@include title(22px, 600, 28px, var(--color-white), 1.3);
	}

	&__playing {
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		width: 100%;
		aspect-ratio: 1.8;
	}

	&__preview {
		@include bg-properties(cover);

		position: relative;
		z-index: 1;
		border-radius: 40px;
		width: 100%;
		height: 100%;

		&::before {
			@include bg-properties(50%);

			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			border-radius: 50%;
			height: 28%;
			background-image: url('../img/icons/play.svg');
			background-color: var(--color-green-400);
			transform: translate(-50%, -50%);
			transition:
				background-color 0.3s,
				box-shadow 0.3s;
			aspect-ratio: 1 / 1;
		}

		&:focus-visible {
			&::before {
				@include focus-visible;

				background-color: transparent;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					background-color: var(--color-green-800);
				}
			}
		}

		&--hidden {
			display: none;
		}
	}

	&__video {
		display: none;
		width: 100%;
		height: 100%;

		&--active {
			display: block;
		}
	}
}
