.stream {
  @include bg-properties(cover);

	padding: 200px 0 80px;
	background-image: url('../img/bg/section-bg.jpg');

	&__title {
		@include title;

    color: var(--color-white);
	}

	&__plaing {
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		width: 100%;
		aspect-ratio: 1.9;
	}

	&__preview {
    @include bg-properties(cover);

		z-index: 1;
		border-radius: 40px;
		width: 100%;
		height: 60vh;
		background-image: url('../img/previews/stream-preview.jpg');
    cursor: pointer;

		&--hidden {
      display: none;
		}

	}

	&__video {
		display: none;
		width: 100%;
		height: 60vh;

		&--active {
			display: block;
		}
	}
}
