.team {
	background-color: var(--color-grey-100);

	&__title {
		@include title(110px, 700, 60px, var(--color-green-800), 1);

		text-transform: uppercase;
	}

	&__subtitle {
		@include title(25px);
	}

	&__list {
		&:not(:last-child) {
			margin-bottom: 120px;
		}
	}

}


.swiper-button-next,
.swiper-button-prev {
@include flex-alignment(0);
@include circle(60px, var(--color-green-400));

right: 30px;
top: 600px;
z-index: 99;
color: var(--color-white);
opacity: 1;
transition:
color 0.3s,
background-color 0.3s;
}

.swiper-button-prev {
  left: 30px;
}

:root {
  --swiper-navigation-size: 24px;
}
