.team {
	background-color: var(--color-grey-100);

	&__title {
		@include title(110px, 700, 60px, var(--color-green-800), 1);

		text-transform: uppercase;
	}

	&__subtitle {
		@include title(25px);
	}

	&__list {
		&--orgkom {
			.team__items {
				gap: 1px;
			}
		}

		&:not(:last-child) {
			margin-bottom: 120px;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		gap: 16px;
	}
}
