@mixin title(
	$mb: 22px,
	$fw: 600,
	$fz: 28px,
	$color: var(--color-black),
	$lh: 1.3
) {
	margin-bottom: $mb;
	font-family: var(--font-title), sans-serif;
	font-weight: $fw;
	font-size: $fz;
	line-height: $lh;
	color: $color;
}

@mixin focus-visible($shadow-color: var(--color-green-400)) {
	outline: 0;
	box-shadow: 0 0 0 2px $shadow-color;
}
